 <div class="main">
  <div class="main-wrapper">
    <app-menu></app-menu>
    <div class="hero">
        <div class="hero-main-top">
          <h2>ENJOY WITH OUR EVENTS</h2>
          <p>All Event on The World </p>
        </div>

        <div class="hero-main">
          <form [formGroup]="messageForm" (ngSubmit)="hundelSubmit()">

            <label for="sujet">Subject:</label><br>
            <input id="sujet" formControlName="sujet" type="text" placeholder="Write Subject "><br>
          
            <label for="message">Message:</label><br>
            <input id="message" formControlName="message" type="text" placeholder="write Message "><br>
          
            <input formControlName="userId" type="hidden"><br>
            <button  type="submit">Submit</button>
          </form>
        </div>
    </div>
  </div>
 </div>
