
<!-- <form [formGroup]="messageForm" (ngSubmit)="hundelSubmit()">

  
    <label for="sujet">sujet:</label>
    <input id="sujet" formControlName="sujet" type="text">
  
    <label for="message">message:</label>
    <input id="message" formControlName="message" type="text">
  
    <label for="userId">userId:</label>
    <input id="userId" formControlName="userId" type="number">
  
    <button  type="submit">Submit</button>
  </form>
 -->

 <div class="main">
  <div class="main-wrapper">
    <app-menu></app-menu>
    <div class="hero">
        <div class="hero-main-top">
          <h2>ENJOY WITH OUR EVENTS</h2>
          <p>All Event on The World </p>
        </div>
    </div>
  </div>
 </div>
