.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.add-event-button {
  margin: 20px;
  text-align: right;
}

.search-form {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px;
}

.search-fields {
  display: flex;
  justify-content: space-between;
}

.form-field {
  width: 30%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.event-card {
  width: 300px;
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

mat-card-header {
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}
