<!-- <table>
    <thead>
    <tr>
      <th>idReservetion</th>
      <th>dateReservation</th>
      <th>HeursReservation</th>
      <th>evenement</th>
      <th>user</th>
    
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservationList">
      <td>{{reservation.idReservetion}}</td>
      <td>{{reservation.dateReservation}}</td>
      <td>{{reservation.heursReservation}}</td>
      <td>{{reservation.evenement.idEvenement}}</td>
      <td>{{reservation.user.userId}}</td>
     

    </tr>

    </tbody>
  </table> -->
  
  

  

<div class="main">
  <div class="main-wrapper">
    <app-menu></app-menu>
    <div class="hero">
      <h5>Your Reservations </h5>
      <div class="hero-warpper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
          <ng-container matColumnDef="Date reservation">
            <th mat-header-cell *matHeaderCellDef> Date reservation </th>
            <td mat-cell *matCellDef="let element"> {{element.dateReservation}} </td>
          </ng-container>
        
         
          <ng-container matColumnDef="Heurs reservation">
            <th mat-header-cell *matHeaderCellDef> Heurs reservation </th>
            <td mat-cell *matCellDef="let element"> {{element.heursReservation}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="id evenement">
            <th mat-header-cell *matHeaderCellDef> id evenement </th>
            <td mat-cell *matCellDef="let element"> {{element.evenement.idEvenement}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>