<form [formGroup]="searchForm" (ngSubmit)="searchEvents()">
  <label for="lieu">Location:</label>
  <input id="lieu" formControlName="lieu" />

  <label for="date">Event Date:</label>
  <input id="date" type="date" formControlName="date" />

  <label for="categorie">Category:</label>
  <input id="categorie" formControlName="categorie" />

  <button type="submit">Submit</button>
</form>

<table>
  <thead>
  <tr>
    <th>titre</th>
    <th>description</th>
    <th>lieu</th>
    <th>prix</th>
    <th>categorie</th>
    <th>heursEvenement</th>
    <th>image</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let evenement of listEvents">
    <td>{{evenement.titre}}</td>
    <td>{{evenement.description}}</td>
    <td>{{evenement.lieu}}</td>
    <td>{{evenement.prix}}</td>
    <td>{{evenement.categorie}}</td>
    <td>{{evenement.heursEvenement}}</td>
    <td>{{evenement.image}}</td>
    <td>
      <button (click)="onUpdate(evenement.idEvenement)">Update</button>
      <button (click)="onDelete(evenement.idEvenement)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
